<?xml version='1.0'?>
<!-- This file just maps default IP multicast addresses for names -->
<multicastMap>
	<mapentry>
		<channelName>ArbiterSceneEstimatorPositionChannel</channelName>
		<multicastaddr>224.0.2.7</multicastaddr>
		<multicastport>30123</multicastport>
	</mapentry>
	<mapentry>
		<channelName>OperationalSceneEstimatorRoadInfoChannel</channelName>
		<multicastaddr>224.0.2.8</multicastaddr>
		<multicastport>30123</multicastport>
	</mapentry>
	<mapentry>
		<channelName>SceneEstimatorObstacleChannel</channelName>
		<multicastaddr>239.132.1.35</multicastaddr>
		<multicastport>30035</multicastport>
	</mapentry>
	<mapentry>
		<channelName>ObservedObstacleChannel</channelName>
		<multicastaddr>239.132.1.35</multicastaddr>
		<multicastport>30035</multicastport>
	</mapentry>
	<mapentry>
		<channelName>ObservedVehicleChannel</channelName>
		<multicastaddr>239.132.1.35</multicastaddr>
		<multicastport>30035</multicastport>
	</mapentry>
	<mapentry>
		<channelName>LocalRoadModelChannel</channelName>
		<multicastaddr>239.132.1.35</multicastaddr>
		<multicastport>30035</multicastport>
	</mapentry>
  <mapentry>
    <channelName>SideObstacleChannel</channelName>
    <multicastaddr>239.132.1.38</multicastaddr>
    <multicastport>30038</multicastport>
  </mapentry>
  <mapentry>
    <channelName>SideRoadEdgeChannel</channelName>
    <multicastaddr>239.132.1.42</multicastaddr>
    <multicastport>30042</multicastport>
  </mapentry>
  <mapentry>
    <channelName>ArbiterOutputChannel</channelName>
    <multicastaddr>239.132.1.237</multicastaddr>
    <multicastport>30237</multicastport>
  </mapentry>
  <mapentry>
    <channelName>ArbiterInformationChannel</channelName>
    <multicastaddr>239.132.1.238</multicastaddr>
    <multicastport>30238</multicastport>
  </mapentry>
  <mapentry>
    <channelName>VehicleSpeedChannel</channelName>
    <multicastaddr>224.0.2.10</multicastaddr>
    <multicastport>30123</multicastport>
  </mapentry>
	<mapentry>
		<channelName>RoadBearingChannel</channelName>
		<multicastaddr>239.132.1.65</multicastaddr>
		<multicastport>30065</multicastport>
	</mapentry>
  <multicastDynamicScope>
		<beginAddress>224.0.2.200</beginAddress>
		<endAddress>224.0.2.250</endAddress>
		<dynscopeport>33333</dynscopeport>
	</multicastDynamicScope>
</multicastMap>

